.head{
    font-family: 'Gotu', sans-serif;
    text-align: center;
    color: whitesmoke;
}

.ansBut{
      margin-left: 10px;
      margin-right: 10px;
        font-size: 36px;
        font-family: 'Gotu', sans-serif;
        border: 5px solid whitesmoke;
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);    
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        box-shadow: 5px  rgb(161, 34, 161);
        text-align: center;
        border-radius: 12px;
}

.text{
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    text-align: center;
    color: whitesmoke;
}